/*Homework*/
body{
    font-family: 'Poppins', sans-serif;
    background-image:url("../images/blue-crytal.jpg");
}
.container{
    color:black;
}
#randomNumber{
    font-style: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.textFormat{
    font-style: bold;
    margin-bottom: 20px;
    font-size: 20px;
}
.row{
    margin-left: 0%;
    margin-right: 0%;
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;  
    width: 25%;
    border: 1px solid;
    box-shadow: 5px 10px #888888;
}
.col-sm-6{
    min-height: 100px;
}
.crystalimages{
    padding: 0px;
    border: 1px solid;
    min-height: 100px;
}
#one{
    margin-left: 20px;
}
#scoreTitle{
    width:25%;
}
.scorePanel{
    min-height: 100px;
}
#scoreHeader,#total{
    padding-top: 20px;
}